<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p>Conoce la nueva</p>
            <h1>Mexican Burger</h1>
            <p>Acercate a nuestras sucursales a probar el gusto inigualable de una hamburgesa al mejor estilo mexicano
            </p>
        </div>
    </div>
    <div class="row my-3">
        <div id="novedades" class="col-md-5 offset-md-2 py-3">
            <h2>Mas vendidas</h2>
            <ul class="lista-novedades">
                {{#each novedades}}
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="/images/novedades01.png">{{titulo}} Cheese Burger Doble</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="rounded testimonios col-md-5 offset-md-2 py-3">
            <h2 class="text-center"> Testimonios</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>"La mejor hamburgesa del mundo!!"</h5>
                            <p>Francisco, Monte Grande</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"De las mejores hamburgesas que probe"</h5>
                            <p>Adrian, Mar del Plata</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>"Esta hamburgesa es todo lo que esta bien"</h5>
                            <p>Pablo, Balcarce</p>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    {{#each novedades}}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">{{titulo}}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>{{subtitulo}}</h3>
                    <p>{{cuerpo}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    
    <div id="nosotros" class="row align-items-stetch my-3 staff py-4">
        <div class="col-lg-8 offset-lg-2">
            <h2>Nosotros</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="/images/yo.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Matias De Pascuale</h5>
                            <p class="card-text">Encargado administrativo de The Best Burger</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/fer.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Fernando Valicenti</h5>
                            <p class="card-text">Nuestro Parrillero de excelencia</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/juan.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Juan Cruz Tornato</h5>
                            <p class="card-text">Nuestro delivery guy</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/images/joaco.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Joaquin Zazzeri</h5>
                            <p class="card-text">Nuestro ayudante de cocina</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="conocenos" class="row py-4 scroll_section">
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d786.073916935551!2d-57.58243866189276!3d-37.993563467397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584d9375347f657%3A0x8bc8765ab2353fc3!2sPunto%20pack!5e0!3m2!1ses-419!2sar!4v1664294613762!5m2!1ses-419!2sar"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>

        <div>
            <div class="col-md-4 mt-4 mt-sm-0">
                <h2>Contactanos</h2>
                <form class="row g-3" action="/" method="post">
                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido">
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="Email" name="email">
                    </div>
                    <div class="col-12">
                        <label for="tel" class="form-label">Tel</label>
                        <input type="text" class="form-control" id="tel" name="tel">
                    </div>
                    <div class="col-12">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>


                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                </form>
                <p>{{message}}</p>
            </div>
        </div>
    </div>